

.create-brd-btn {
    padding: 6px 16px;
    height: auto;
    margin: 10px;
    font-size: 14px;
    cursor: pointer;
    background-color: #fafbfc;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 8px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0,
    rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    color: #24292e;
}

.create-brd-btn:hover {
    transform: scale(1.05);
    background: #fff6f6;
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
}


.modal_content {
    line-height: 1.4;
    padding: 14px 28px;
    border-radius: 3px;
    width: 50%;
    overflow-y: auto;
    max-height: 80%;
    cursor: default;
    z-index: 10;
    background-color: white;
    
    }



.title{
    width: 100%;
    margin: 20px;
    height: 30px;
    
}
.category{
    width: 100%;
    margin:20px;
    height: 30px;

}
.author{
    width: 100%;
    margin:20px;
    height: 30px;
}


.form_container{
    display: flex;
    justify-content: center;
}

.form_container h2{
    text-align: center;
}